<div>
    <h3>Hello from within the component template!</h3>
    <h4>{{vm.message}}</h4>
    <!-- Will change as you type -->
    <input type="text" ng-model="vm.message">
    <!-- Will also change when you click based on call -->
    <button ng-click="vm.changeMessage()">
        Change Message
    </button>
</div>
<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="movie in vm.movies">
            <td>{{movie.title}}</td>
            <td>{{movie.length}}</td>
            <td>
                <!-- AngularJS knows that movie is essentially a local variable here, and that value is from the component -->
                <!-- Be sure to dasherize setRating -->
                <movie-rating 
                    value="movie.rating" 
                    max="5" 
                    set-rating="vm.setRating(movie, value)">
                </movie-rating>
            </td>
            <td>
                <button class="btn btn-default" ng-click="vm.upRating(movie)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" ng-click="vm.downRating(movie)">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>

                <!-- Can pass in arguments for route params -->
                <a ui-sref="details({ movieId: movie.id })" class="btn btn-default">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
                <button ng-click="vm.goTo(movie.id)">
                    Details
                </button>
            </td>
        </tr>
    </table>

    <!-- These can be more tightly coupled, as we expect accordions to manage accordion panels, and we don't expect to use an accordion panel that isn't inside an accordion component -->
    <accordion>
        <accordion-panel heading="Panel 1">
            <p>This is panel 1</p>
        </accordion-panel>
        <accordion-panel heading="Panel 2">
            <p>This is panel 2</p>
        </accordion-panel>
    </accordion>
</div>