<div>
    <h3>Hello from within the component template!</h3>
    <h4>{{vm.message}}</h4>
    <!-- Will change as you type -->
    <input type="text" ng-model="vm.message">
    <!-- Will also change when you click based on call -->
    <button ng-click="vm.changeMessage()">
        Change Message
    </button>
</div>
<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="movie in vm.movies">
            <td>{{movie.title}}</td>
            <td>{{movie.length}}</td>
            <td>
                <movie-rating value="movie.rating"></movie-rating>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="vm.upRating(movie)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" ng-click="vm.downRating(movie)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                </div>
            </td>
        </tr>
    </table>
</div>