<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">At The Movies</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <!-- <a href="#/list">List</a> -->
                <!-- Uses array as more options are available, we're just using one -->
                <a ui-sref="list" ui-sref-active="active">List</a>
            </li>
            <li>
                <!-- <a href="#/about">About</a> -->
                <a ui-sref="about" ui-sref-active="active">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <!-- Instead of hard-coding, let router determine -->
    <!-- <movie-list></movie-list> -->

    <!-- No longer needed (old router) -->
    <!-- <ng-view></ng-view> -->

    <!-- Placeholder for router (where it will place components) -->
    <!-- <ng-outlet></ng-outlet> -->

    <ui-view></ui-view>



</div>